name: Update GitHub Stats
on:
  schedule:
    - cron: "0 23 * * *" # Tous les jours à 23:00 UTC (00:00 en France hiver, 01:00 en été)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 10
    steps:
      # --- ÉTAPE 1 : CHIFFRES CLÉS (COMMITS, PR, REPOS) ---
      - name: Statistiques de Contributions
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_STATS_TOKEN }}
          user: ${{ github.repository_owner }}
          template: classic
          # header : ton nom/avatar
          # repositories : le détail Public/Privé
          # metadata : les chiffres bruts (Commits, PR, Issues)
          base: header, repositories, metadata
          config_display: large
          
          # --- CALENDRIER ISOMÉTRIQUE (VISUEL) ---
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # --- LIGNES DE CODE ---
          plugin_lines: yes
          
          config_timezone: Europe/Paris
          output_action: commit
          committer_message: "chore: update contributions stats"
          filename: assets/github-stats.svg

      # --- ÉTAPE 2 : LANGAGES (AVEC HTML/CSS) ---
      - name: Langages les plus utilisés
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_STATS_TOKEN }}
          user: ${{ github.repository_owner }}
          base: "" 
          config_display: large
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_sections: most-used
          plugin_languages_ignored: "" # Force l'inclusion de tous les langages (HTML/CSS inclus)
          output_action: commit
          committer_message: "chore: update languages stats"
          filename: assets/top-langs.svg