name: Update GitHub Stats
on:
  schedule:
    - cron: "0 15 * * *" # Tous les jours à 15:00 UTC (env. 16h/17h en France)
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # --- ÉTAPE 1 : CHIFFRES CLÉS (COMMITS, PR, REPOS) ---
      - name: Statistiques de Contributions
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_STATS_TOKEN }}
          user: Kadawatcha
          template: classic
          # header : ton nom/avatar
          # repositories : le détail Public/Privé
          # metadata : les chiffres bruts (Commits, PR, Issues)
          base: header, repositories, metadata
          
          # --- REPO LE PLUS ACTIF (FAITS UNIQUEMENT) ---
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_facts: yes
          plugin_habits_charts: no # Supprime les graphiques d'habitudes
          
          # --- LIGNES DE CODE ---
          plugin_lines: yes
          
          config_timezone: Europe/Paris
          output_action: commit
          filename: assets/github-stats.svg

      # --- ÉTAPE 2 : LANGAGES (AVEC HTML/CSS) ---
      - name: Langages les plus utilisés
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_STATS_TOKEN }}
          user: Kadawatcha
          base: "" 
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_sections: most-used
          # On ne met pas de 'ignored' pour garder HTML et CSS
          output_action: commit
          filename: assets/top-langs.svg
